@import 'normalize.css';
label, input {
	display: block;
	margin-bottom: 5px;
} 

#order-form {
	padding: 30px;
}

.proceed-to-checkout {
	margin-left: 500px;
	max-width: 450px;
	text-decoration: none;
	margin-top: 20px;
}

#quantity {
	max-width: 50px;
}

.order-item {
	display: inline-block;
	margin-right: 20px;
}


.form-wrapper {
	margin: 0 auto;
	max-width: 900px;
	border: 2px solid;
    border-radius: 10px;
}



.upper-label {
	margin-top: 30px;
}

.button-group {
	margin-top: 10px;
}

table {
	margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse; 
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}