.input-item, .save-entry {
	display: inline-block;
	margin-right: 20px;
}

.first-line {
	height: 80px;
	
}

.all-beers {
	
	padding: 20px 40px;
}


#new-entry {
	   
 
    padding: 20px;
    height: 200px;	
   
}

.product-stock {
	max-width: 60px;
}

.product-price {
	max-width: 80px;
}

.save-entry {
	padding: 3px 7px;
	
}

#entry-form {
	margin-left: 450px;
	
	margin-right: 10px;

}

.entry-item, #new-entry input {
	margin-bottom: 5px;
}

.new-entry-button {
	margin-top: 10px;

}

.intro {
	margin-left: 10px;
    max-width: 450px;
	
    border-radius: 10px;
    padding: 10px 30px;
    border: 2px solid;
 }

