<header>
  <div class="container">
    <h1 class="headline">       
        Primoz's Beer Shop
    </h1>
    <div class="container-navigation">
      <div class="wrapper-navigation">
        
        <button class="menu-item">
          {{#link-to 'new-order'}}
            Create order  
          {{/link-to}}

        </button>
        <button class="menu-item">
          {{#link-to 'new-entry'}}
            New entry  
          {{/link-to}}
        </button>

        <button class="menu-item">
          {{#link-to 'entry-list'}}
             Beer list  
          {{/link-to}}
        </button>

        <button class="menu-item">
          {{#link-to 'order-list'}}
            Order list  
          {{/link-to}}
        </button>
      
        </div>
      </div>
  </div>
  



</header>



<div class="body">
    {{outlet}}
</div>
