{{outlet}}


 
<div class="form-container">
  

  <div class="form-wrapper">
    <form id="order-form">
      

        
            <label class="label-order order-item" for="name_">Select beer from dropdown: </label>
      
            <select id="productTitleDropDown" class="order-item">
             {{#each model.entry as |item|}} 
                <option>{{item.productTitle}}</option>
              {{/each}}
            </select>
        
          
        
              <label class="lower-label order-item">Quantity: </label>
            
              {{input class="form-control order-item" name="noOfBeers" id="quantity"}}
              
              <button class="order-item" {{action "saveItem"}} >Confirm</button>
        
      
     </form>  
   </div>

   <button class="proceed-to-checkout"> {{#link-to 'order-list'}}See all items in order and proceed to checkout {{/link-to}}</button>


</div>


